<a href="https://colab.research.google.com/github/saif90834/CAMPUSX_24_4_2024/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data", "Science", "Mentorship", "Program",sep='-',end='-started-' )
print("By" "CampusX",sep='-')

Data-Science-Mentorship-Program-started-ByCampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here
c=int(input("c  "))
f=c*(9/5)+32
print('f', f)

c  47
f 116.60000000000001

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [6]:
# Write your code here
x=int(input("First Number: "))
y=int(input("Second Number: "))
print(x,y)
temp=x
x=y
y=temp
print(x,y)

First Number: 3
Second Number: 2
3 2
2 3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [11]:
# Write your code here
x1=int(input("x1:"))
y1=int(input("y1:"))
x2=int(input("x2:"))
y2=int(input("y2:"))
euclidean_distance =((x1-x2)**2+(y1-y2)**2)**1/2
print(euclidean_distance)

x1:2
y1:2
x2:4
y2:4
4.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [13]:
# Write your code here
p=int(input('principal: '))
r=float(input('rate of interest: '))
t=int(input("time in year: "))
interest=(p*r*t)/100
print(interest)

principal: 100000
rate of interest: 8.5
time in year: 5
42500.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here
H=4
L=12
#chicken has 2 legs while dog has 4 legs
2c+4d=12
# dogs has 1 head and chicke has 1 head
c+d=4
c=4-d
2(4-d)+4d =12
8-2d+4d=12
d=4/2
d=2
#put d value in eq 1
c+d=4
c=4-2
c

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [15]:
# Write your code here
f_term=int(input(("enter the first term: ")))
s_term=int(input("enter the second term: "))
n=int(input("enter the value of n "))
d=s_term -f_term
a=f_term +(n-1)*d
print(a)

enter the first term: 3
enter the second term: 6
enter the value of n 5
15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [18]:
# Write your code here
n1=int(input("num 1: "))
n2=int(input("num 2: "))
d1=int(input("deno 1:"))
d2=int(input("deno 2:"))
numerator=n1*d2 + n2*d1
denominator=d1*d2
print('{}/{}'.format(numerator,denominator))

num 1: 3
num 2: 2
deno 1:7
deno 2:11
47/77

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here